body {
  padding: 10px;
  font-family: sans-serif;
}

.main_floorplan{
  display: inline-block;
}

.chartContainer{
  height: 300px;
  width: 750%;
}

.awesomeComponent {
    color: Silver;
    backgroundColor: "none";
    padding:   10px;
    fontFamily: "Arial";
    margin: 0;
    text-align: center;
    horiz-align: center;
}