body {
  padding: 10px;
  font-family: sans-serif;
}

/*.app-view{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.main_floorplan{
    /*display: block;*/
    /*margin: auto;*/
  /*display: inline-block;*/
}

.chartContainer{
  height: 300px;
  width: 750%;
}

.awesomeComponent {
    color: Silver;
    backgroundColor: "none";
    padding:   10px;
    fontFamily: "Arial";
    margin: 0;
    text-align: center;
    horiz-align: center;
}
