body {
  padding: 10px;
  font-family: sans-serif;
}

.app_view{
    /*display: flex;*/
    align-items: center;
}

/*.main_floorplan{*/
/*    display: block;*/
/*    margin: auto;*/
/*  display: inline-block;*/
/*}*/

/*.svgContainer{*/
/*    width: 30%; !*930px*!*/
/*    height: auto; !*600px*!*/
/*    margin: auto;*/
/*    display: block*/
/*}*/

.chartContainer{
    height: 1000px;
    width: 100%;
    /*margin: auto;*/
}

.awesomeComponent {
    color: Silver;
    backgroundColor: "none";
    padding:   10px;
    fontFamily: "Arial";
    margin: 0;
    text-align: center;
    horiz-align: center;
}

.controlPanelContainer{

}